<div class="wrapper">
  <!-- Header section -->
  <header class="header header--sticky">
    <div class="header-line hidden-xs">
      <app-line></app-line>
    </div>
    <app-dropdowns></app-dropdowns>
    <nav class="navbar navbar-wd" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" id="slide-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--  Logo  -->
          <app-logo></app-logo>
          <!-- End Logo -->
        </div>
        <div class="pull-left search-focus-fade" id="slidemenu">
          <div class="slidemenu-close visible-xs">✕</div>
          <ul class="nav navbar-nav">

            <li>
              <a href="index.html" class="dropdown-toggle">
                <span class="link-name">Home</span>
                <span class="caret caret--dots"></span>
              </a>
              <ul class="dropdown-menu animated fadeIn" role="menu">
                <li>
                  <a href="index-layout1.html">SwimWear Layout</a>
                </li>
                <li>
                  <a href="index-layout2.html">Flowers Layout</a>
                </li>
                <li>
                  <a href="index-layout3.html">Travel Layout</a>
                </li>
                <li>
                  <a href="index-layout4.html">IShop Layout</a>
                </li>
                <li>
                  <a href="index-layout5.html">Medicine Layout</a>
                </li>
                <li>
                  <a href="index-layout6.html">Gifts Store Layout</a>
                </li>
                <li>
                  <a href="index-layout7.html">Toy Store Layout</a>
                </li>
                <li>
                  <a href="index-layout8.html">Sport Layout</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="index.html" class="dropdown-toggle">
                <span class="link-name">Home</span>
                <span class="caret caret--dots"></span>
              </a>
              <ul class="dropdown-menu animated fadeIn" role="menu">
                <li>
                  <a href="index-layout1.html">SwimWear Layout</a>
                </li>
                <li>
                  <a href="index-layout2.html">Flowers Layout</a>
                </li>
                <li>
                  <a href="index-layout3.html">Travel Layout</a>
                </li>
                <li>
                  <a href="index-layout4.html">IShop Layout</a>
                </li>
                <li>
                  <a href="index-layout5.html">Medicine Layout</a>
                </li>
                <li>
                  <a href="index-layout6.html">Gifts Store Layout</a>
                </li>
                <li>
                  <a href="index-layout7.html">Toy Store Layout</a>
                </li>
                <li>
                  <a href="index-layout8.html">Sport Layout</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="index.html" class="dropdown-toggle">
                <span class="link-name">Home</span>
                <span class="caret caret--dots"></span>
              </a>
              <ul class="dropdown-menu animated fadeIn" role="menu">
                <li>
                  <a href="index-layout1.html">SwimWear Layout</a>
                </li>
                <li>
                  <a href="index-layout2.html">Flowers Layout</a>
                </li>
                <li>
                  <a href="index-layout3.html">Travel Layout</a>
                </li>
                <li>
                  <a href="index-layout4.html">IShop Layout</a>
                </li>
                <li>
                  <a href="index-layout5.html">Medicine Layout</a>
                </li>
                <li>
                  <a href="index-layout6.html">Gifts Store Layout</a>
                </li>
                <li>
                  <a href="index-layout7.html">Toy Store Layout</a>
                </li>
                <li>
                  <a href="index-layout8.html">Sport Layout</a>
                </li>
              </ul>
            </li>
            <li class="menu-large">
              <a href="listing.html" class="dropdown-toggle">
                <span class="link-name">CATEGORY</span>
                <span class="caret caret--dots"></span>
              </a>
              <div class="dropdown-menu megamenu animated fadeIn">
                <div class="container">
                  <ul class="megamenu__columns">
                    <li class="megamenu__columns__top-block text-uppercase">
                      <ul>
                        <li>
                          <span class="icon icon-box icon--lg"></span>
                          <a href="#">GIFTS EXCLUSIVE</a>
                        </li>
                        <li>
                          <span class="icon icon-sales-alt icon--lg"></span>
                          <a href="#">OFFERS</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Coats</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Club Dresses</a>
                          <ul class="level-menu__dropdown">
                            <li class="level3">
                              <a href="listing.html">Empty subcategory #1</a>
                              <ul class="level-menu__dropdown">
                                <li class="level3">
                                  <a href="listing.html">Empty subcategory #1-1</a>
                                </li>
                                <li class="level3">
                                  <a href="listing.html">Empty subcategory #1-2</a>
                                </li>
                                <li class="level3">
                                  <a href="listing.html">Empty subcategory #1-3</a>
                                </li>
                                <li class="level3">
                                  <a href="listing.html">Empty subcategory #1-4</a>
                                </li>
                                <li class="level3">
                                  <a href="listing.html">Empty subcategory #1-5</a>
                                </li>
                              </ul>
                            </li>
                            <li class="level3">
                              <a href="listing.html">Empty subcategory #2</a>
                            </li>
                            <li class="level3">
                              <a href="listing.html">Empty subcategory #3</a>
                            </li>
                          </ul>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Evening Dresses</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Prom Dresses</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Dresses</a>
                          <span class="badge badge--squared">NEW</span>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #1</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #2</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #3</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Jackets</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #4</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #5</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #6</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Jeans</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #7</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #8</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #9</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Jumpsuits</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #10</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #11</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #12</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Lingerie</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #13</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #14</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Pants</a>
                          <span class="badge badge--squared badge--color-alt">-10%</span>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #15</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #16</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #17</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Shorts</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #18</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #19</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #20</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Skirts</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #21</a>
                        </li>
                        <li class="level2">
                          <a href="listing.html">Empty category #22</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Sweaters</a>
                        </li>
                      </ul>
                    </li>
                    <li class="level-menu level1">
                      <ul>
                        <li class="title">
                          <a href="listing.html">Tops</a>
                        </li>
                      </ul>
                    </li>
                    <li class="megamenu__columns__bottom-block text-uppercase">
                      <ul>
                        <li>
                          <span class="icon icon-bag icon--lg"></span>
                          <a href="#">SPECIAL OFFER</a>
                        </li>
                        <li>
                          <span class="icon icon-shop-label icon--lg"></span>
                          <a href="#">UP TO 50% OFF DISCOUNTS</a>
                        </li>
                      </ul>
                    </li>
                    <li class="megamenu__columns__side-image">
                      <img src="./assets/images/img-megamenu.jpg" alt="Megamenu Image"> </li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <a href="index.html" class="dropdown-toggle">
                <span class="link-name">Home</span>
                <span class="caret caret--dots"></span>
              </a>
              <ul class="dropdown-menu animated fadeIn" role="menu">
                <li>
                  <a href="index-layout1.html">SwimWear Layout</a>
                </li>
                <li>
                  <a href="index-layout2.html">Flowers Layout</a>
                </li>
                <li>
                  <a href="index-layout3.html">Travel Layout</a>
                </li>
                <li>
                  <a href="index-layout4.html">IShop Layout</a>
                </li>
                <li>
                  <a href="index-layout5.html">Medicine Layout</a>
                </li>
                <li>
                  <a href="index-layout6.html">Gifts Store Layout</a>
                </li>
                <li>
                  <a href="index-layout7.html">Toy Store Layout</a>
                </li>
                <li>
                  <a href="index-layout8.html">Sport Layout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>