<div class="blog-carousel mobile-special-arrows  animated-arrows">
    <div class="blog-widget__item">
      <div class="blog-widget__item__image-cell pull-left"><img src="./assets/images/blog-author-img-01.jpg" alt=""/></div>
      <div class="blog-widget__item__offset-text pull-right">
        <h3 class="blog-widget__item__offset-text__title text-uppercase">uismod, turpis sollicitudin lobortis </h3>
        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
        <div class="blog-widget__item__offset-text__teaser">
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <a href="#" class="btn btn--wd">READ MORE</a> </div>
    </div>
    <div class="blog-widget__item">
      <div class="blog-widget__item__image-cell pull-left"><img src="./assets/images/blog-author-img-01.jpg" alt=""/></div>
      <div class="blog-widget__item__offset-text pull-right">
        <h3 class="blog-widget__item__offset-text__title text-uppercase">nostrud exercitation ullamco</h3>
        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
        <div class="blog-widget__item__offset-text__teaser">
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <a href="#" class="btn btn--wd">READ MORE</a> </div>
    </div>
    <div class="blog-widget__item">
      <div class="blog-widget__item__image-cell pull-left"><img src="./assets/images/blog-author-img-01.jpg" alt=""/></div>
      <div class="blog-widget__item__offset-text pull-right">
        <h3 class="blog-widget__item__offset-text__title text-uppercase">tempor incididunt ut labore</h3>
        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
        <div class="blog-widget__item__offset-text__teaser">
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <a href="#" class="btn btn--wd">READ MORE</a> </div>
    </div>
  </div>
