<section class="content">
  <div class="container">
    <h2 class="text-uppercase">Account</h2>
    <div class="card card--padding">
      <div class="card__row-line">
        <h4 class="text-uppercase h-pad-xs">My Account</h4>
      </div>
      <div class="card__row-line">
        <h4 class="text-uppercase h-pad-sm">ORDER HISTORY</h4>
        <p>You haven't placed any orders yet.</p>
      </div>
      <div class="card__row-line">
        <h4 class="text-uppercase h-pad-xs">Account Details</h4>
        <table class="table-address">
          <tbody>
            <tr>
              <td>Name:</td>
              <td>
                <strong>Alex Smith</strong>
              </td>
            </tr>
            <tr>
              <td>E-mail:</td>
              <td>
                <a href="mailto:alexsmith@hotmail.com">
                  <strong>alexsmith@hotmail.com</strong>
                </a>
              </td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>
                <strong>2177 Pride AvenueBrooklyn,
                  <br> NY 11206</strong>
              </td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>
                <strong>718-387-4726</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <a href="#" class="btn btn--wd">View Addresses (1)</a>
      </div>
    </div>
  </div>
</section>
