<div class="row product-carousel mobile-special-arrows animated-arrows product-grid four-in-row">
    <div class="product-preview-wrapper">
    <app-product-item></app-product-item>
    </div>
    <div class="product-preview-wrapper">
      <app-product-item></app-product-item>
    </div>
    <div class="product-preview-wrapper">
      <app-product-item></app-product-item>
     </div>
     <div class="product-preview-wrapper">
        <app-product-item></app-product-item>
      </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-2.jpg"  alt=""/></a></div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <ul class="options-swatch options-swatch--color">
            <li class="color-blue"></li>
            <li class="color-yellow"></li>
            <li class="color-green"></li>
            <li class="color-dark-grey"></li>
            <li class="color-grey"></li>
            <li class="color-red"></li>
            <li class="color-white"></li>
          </ul>
          <div class="price-box"><span class="price-box__new">$65.00</span> <span class="price-box__old">$84.00</span></div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-3.jpg"  alt=""/></a></div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view-2.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Other Quick VIEW</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-4.jpg"  alt=""/></a>
          <app-count-down></app-count-down>
        </div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-5.jpg"  alt=""/></a>
          <app-out-stock></app-out-stock>
        </div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-6.jpg"  alt=""/></a></div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-7.jpg"  alt=""/></a></div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
    <div class="product-preview-wrapper">
      <div class="product-preview">
        <div class="product-preview__image"><a href="product.html"><img src="./assets/images/products/product-empty.png" data-lazy="./assets/images/products/product-8.jpg"  alt=""/></a></div>
        <div class="product-preview__info text-center">
          <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
          <div class="product-preview__info__title">
            <h2><a href="#">Fast Seconds Knit White</a></h2>
          </div>
          <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
          <div class="price-box">$65.00</div>
          <div class="product-preview__info__description">
            <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
            <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
          </div>
          <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
        </div>
      </div>
    </div>
  </div>
