<div class="brands brands-carousel animated-arrows mobile-special-arrows">
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-01.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-02.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-03.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-04.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-05.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-06.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-07.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-01.png" alt=""/></a></div>
    <div class="brands__item"><a href="#"><img src="./assets/images/brand-empty.png" data-lazy="./assets/images/brand-02.png" alt=""/></a></div>
    
  </div>
