<section class="content content--fill top-null">
  <div class="container">
    <h2 class="h-pad-sm text-uppercase text-center">Create an Account</h2>
    <h6 class="text-uppercase text-center">Please enter the following information to create your account.</h6>
    <div class="divider divider--sm"></div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="card card--form">
          <div class="divider divider--xs"></div>
          <form action="#" class="contact-form">
            <h6 class="text-uppercase text-left">Personal Information</h6>
            <input type="text" class="input--wd input--wd--full" placeholder="First name *">
            <input type="text" class="input--wd input--wd--full" placeholder="Last name *">
            <input type="text" class="input--wd input--wd--full" placeholder="Email address *">
            <div class="checkbox-group">
              <input type="checkbox" id="checkBox1">
              <label for="checkBox1">
                <span class="check"></span>
                <span class="box"></span>Sign Up for Newsletter</label>
            </div>
            <div class="divider divider--xs"></div>
            <h6 class="text-uppercase text-left">Login Information</h6>
            <input type="password" class="input--wd input--wd--full" placeholder="Password *">
            <input type="password" class="input--wd input--wd--full" placeholder="Confirm password *">
            <div class="checkbox-group">
              <input type="checkbox" id="checkBox2">
              <label for="checkBox2">
                <span class="check"></span>
                <span class="box"></span>Remember Me</label>
            </div>
            <div class="divider divider--xs"></div>
            <button type="submit" class="btn btn--wd text-uppercase wave">Submit</button>
          </form>
          <div class="card--form__footer">
            <a href="#">&lt;&nbsp;Back</a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider divider--xl"></div>
  </div>
</section>