<section class="content">
    <div class="container">
      <h2 class="text-uppercase">Shopping Cart</h2>
      <div class="card card--padding">
        <table class="table shopping-cart-table text-center">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Product Name</th>
              <th>&nbsp;</th>
              <th>Unit Price </th>
              <th>Qty</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><div class="th-title visible-xs">Remove From Cart:</div>
                <a class="icon-clear shopping-cart-table__delete" href="#"></a></td>
              <td class="no-title"><div class="shopping-cart-table__product-image"><a href="product.html"><img src="./assets/images/products/product-5.jpg" alt=""/></a></div></td>
              <td><div class="th-title visible-xs">Product Name:</div>
                <h6 class="shopping-cart-table__product-name text-left text-uppercase"><a href="product.html">Long Skirt In Red</a></h6>
                <div class="shopping-cart-table__product-color text-left">
        <ul class="options-swatch options-swatch--color">
          <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
        </ul>
        </div></td>
              <td><div class="th-title visible-xs">Unit Price:</div>
                <div class="shopping-cart-table__product-price">$65.00</div></td>
              <td><div class="th-title visible-xs">QTY:</div>
                <div class="input-group-qty"> <span class="pull-left"> </span>
                  <input type="text" name="quant[1]" class="input-number input--wd input-qty pull-left" value="1" min="1" max="100">
                  <span class="pull-left btn-number-container">
                  <button type="button" class="btn btn-number btn-number--plus" data-type="plus"> + </button>
                  <button type="button" class="btn btn-number btn-number--minus" disabled="disabled" data-type="minus"> – </button>
                  </span> </div>
                <a class="icon-pencil shopping-cart-table__delete" href="#"></a></td>
              <td><div class="th-title visible-xs">Subtotal:</div>
                <div class="shopping-cart-table__product-price">$65.00</div></td>
            </tr>             
      <tr>
              <td><div class="th-title visible-xs">Remove From Cart:</div>
                <a class="icon-clear shopping-cart-table__delete" href="#"></a></td>
              <td class="no-title"><div class="shopping-cart-table__product-image"><a href="product.html"><img src="./assets/images/products/product-2.jpg" alt=""/></a></div></td>
              <td><div class="th-title visible-xs">Product Name:</div>
                <h6 class="shopping-cart-table__product-name text-left text-uppercase"><a href="product.html">Short Blue Skirt</a></h6>
                <div class="shopping-cart-table__product-color text-left">
        <ul class="options-swatch options-swatch--color">
          <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
        </ul>
        </div></td>
              <td><div class="th-title visible-xs">Unit Price:</div>
                <div class="shopping-cart-table__product-price">$65.00</div></td>
              <td><div class="th-title visible-xs">QTY:</div>
                <div class="input-group-qty"> <span class="pull-left"> </span>
                  <input type="text" name="quant[2]" class="input-number input--wd input-qty pull-left" value="1" min="1" max="100">
                  <span class="pull-left btn-number-container">
                  <button type="button" class="btn btn-number btn-number--plus" data-type="plus"> + </button>
                  <button type="button" class="btn btn-number btn-number--minus" disabled="disabled" data-type="minus"> – </button>
                  </span> </div>
                <a class="icon-pencil shopping-cart-table__delete" href="#"></a></td>
              <td><div class="th-title visible-xs">Subtotal:</div>
                <div class="shopping-cart-table__product-price">$65.00</div></td>
            </tr>
          </tbody>
        </table>
        <div class="hr"></div>
        <div class="divider divider--xs"></div>
        <div class="row shopping-cart-btns">
          <div class="col-sm-4 col-md-4"><a href="#" class="btn btn--wd pull-left">Continue Shopping</a></div>
          <div class="divider divider--xs visible-xs"></div>
          <div class="col-sm-8 col-md-8"><a href="#" class="btn btn--wd btn--light pull-right">Clear Shopping Cart</a>
            <div class="divider divider--xs visible-xs"></div>
            <a href="#" class="btn btn--wd pull-right">Update Shopping Cart</a></div>
        </div>
        <div class="divider divider--xxs"></div>
      </div>
      <div class="divider divider--xs"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card--padding">
            <h4 class="h-pad-sm">DISCOUNT CODES</h4>
            <p>Enter your coupon code if you have one.</p>
            <input type="text" class="input--wd input--wd--full">
            <div class="divider divider--xs"></div>
            <button type="submit" class="btn btn--wd text-uppercase wave waves-effect">Apply Coupon</button>
          </div>
        </div>
        <div class="divider divider--xs visible-sm visible-xs"></div>
        <div class="col-md-8">
          <div class="card card--padding">
            <h4 class="h-pad-sm">ESTIMATE SHIPPING AND TAX</h4>
            <p>Enter your destination to get a shipping estimate.</p>
            <div class="row">
              <div class="col-md-4">
                <select class="fullwidth select--wd select--wd--lg">
                  <option>Country </option>
                  <option>Austria </option>
                  <option>Belgium</option>
                  <option>Cyprus </option>
                  <option>Croatia </option>
                  <option>Czech Republic </option>
                  <option>Denmark </option>
                  <option>Finland </option>
                  <option>France </option>
                  <option>Germany </option>
                  <option>Greece </option>
                  <option>Hungary </option>
                  <option>Ireland </option>
                  <option>France </option>
                  <option>Italy </option>
                  <option>Luxembourg </option>
                  <option>Netherlands </option>
                  <option>Poland </option>
                  <option>Portugal </option>
                  <option>Slovakia </option>
                  <option>Slovenia </option>
                  <option>Spain </option>
                  <option>United Kingdom </option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="selectpicker fullwidth" data-style="select--wd select--wd--lg">
                  <option>State/Province </option>
                  <option>Austria </option>
                  <option>Belgium</option>
                  <option>Cyprus </option>
                  <option>Croatia </option>
                  <option>Czech Republic </option>
                  <option>Denmark </option>
                  <option>Finland </option>
                  <option>France </option>
                  <option>Germany </option>
                  <option>Greece </option>
                  <option>Hungary </option>
                  <option>Ireland </option>
                  <option>France </option>
                  <option>Italy </option>
                  <option>Luxembourg </option>
                  <option>Netherlands </option>
                  <option>Poland </option>
                  <option>Portugal </option>
                  <option>Slovakia </option>
                  <option>Slovenia </option>
                  <option>Spain </option>
                  <option>United Kingdom </option>
                </select>
              </div>
              <div class="col-md-4">
                <input type="text" class="input--wd input--wd--full" placeholder="Zip/Postal Code">
              </div>
            </div>
            <div class="divider divider--xs"></div>
            <button type="submit" class="btn btn--wd text-uppercase wave waves-effect">Get a Quote</button>
          </div>
        </div>
      </div>
      <div class="divider divider--md"></div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h3>CART TOTALS</h3>
        </div>
        <div class="col-sm-6 col-md-4">
          <table class="table table-total">
            <tbody>
              <tr>
                <th class="text-left"> Subtotal </th>
                <th class="text-right"> $295.00 </th>
              </tr>
              <tr>
                <td class="text-left"><h2>Grand Total</h2></td>
                <td class="text-right"><h2>$295.00</h2></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div class="col-sm-12 col-md-5"> <a href="#" class="btn btn--wd btn--xl">Proceed to checkout</a>
            <div class="divider divider--xs"></div>
            <p>Checkout with Multiple Addresses</p>
          </div>
        </div>
      </div>
    </div>
  </section>