<div class="modal fade bs-example-modal-sm" role="dialog" id="modalAddToCart">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button type="button" class="close icon-clear" data-dismiss="modal"></button>
      <div class="text-center">
        <div class="divider divider--xs"></div>
        <p>Product added to cart successfully! </p>
        <div class="divider divider--xs"></div>
        <a href="#" class="btn btn--wd">Go to Cart</a>
        <div class="divider divider--xs"></div>
      </div>
    </div>
  </div>
</div>