<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-6">
      <div id="subscribeSuccess">
        <p>Your email was added successfully!</p>
      </div>
      <div id="subscribeError">
        <p>Something went wrong, try refreshing and submitting the form again.</p>
      </div>
      <form id="subscribe-form" class="subscribe-form" method="post" novalidate>
        <label class="subscribe-form__label text-uppercase pull-left">Subscribe</label>
        <input type="text" class="subscribe-form__input input--wd" placeholder="Your e-mail address" name="subscribemail">
        <button type="submit" class="btn btn--wd text-uppercase wave">
          <span class="hidden-xs">Subscribe</span>
          <span class="icon icon-mail-fill visible-xs"></span>
        </button>
      </form>
    </div>
    <div class="col-sm-5 col-md-6">
      <div class="social-links social-links--colorize social-links--large">
        <ul>
          <li class="social-links__item">
            <a class="icon icon-facebook" href="http://www.facebook.com/"></a>
          </li>
          <li class="social-links__item">
            <a class="icon icon-twitter" href="http://www.twitter.com/"></a>
          </li>
          <li class="social-links__item">
            <a class="icon icon-google" href="http://www.google.com/"></a>
          </li>
          <li class="social-links__item">
            <a class="icon icon-pinterest" href="http://www.pinterest.com/"></a>
          </li>
          <li class="social-links__item">
            <a class="icon icon-mail" href="mailto:mail@google.com"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
