<section class="content">
  <div class="container">
    <div class="row hide-outer-animation">
      <app-outer-animation></app-outer-animation>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">

    <!-- Modal -->
    <div class="modal quick-view zoom" id="quickView" style="opacity: 1">
      <div class="modal-dialog">
        <div id="modalLoader-wrapper">
          <div id="modalLoader"></div>
        </div>
        <div class="modal-content">
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <h2 class="text-center text-uppercase">Featured Products</h2>
    <app-products></app-products>
  </div>
</section>
<section class="content content--fill">
  <div class="container">
    <h2 class="text-center text-uppercase">products categories</h2>
    <app-categories></app-categories>
  </div>
</section>
<section class="content content--parallax top-null" data-image="./assets/images/parallax-bg.jpg">
  <div class="container">
    <div class="blog-widget">
      <h2 class="blog-widget__title text-uppercase">From The Blog</h2>
      <app-blog></app-blog>
    </div>
  </div>
</section>
<section class="content content--fill top-null">
  <div class="container">
    <h2 class="text-center text-uppercase">products brands</h2>
    <app-brands></app-brands>
  </div>
</section>