<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="h-links-list">
        <ul>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Search Terms</a></li>
          <li><a href="#">Orders and Returns</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">RSS</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="h-links-list text-right">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>