<div class="container text-center">
  <div class="dropdown pull-left">
    <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false">
      <span class="header__dropdowns__button__symbol">$</span>
    </a>
    <ul class="dropdown-menu animated fadeIn" role="menu">
      <li class="currency__item currency__item--active">
        <a href="#">$ USA Dollar</a>
      </li>
      <li class="currency__item">
        <a href="#">€ Euro</a>
      </li>
      <li class="currency__item">
        <a href="#">£ British Pound</a>
      </li>
    </ul>
  </div>
  <div class="dropdown pull-left">
    <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false">
      <span class="flag">
        <img src="./assets/images/flags/gb.png" alt="">
      </span>
    </a>
    <ul class="dropdown-menu animated fadeIn languages languages--flag" role="menu">
      <li class="languages__item languages__item--active">
        <a href="#">
          <span class="languages__item__flag flag">
            <img src="./assets/images/flags/gb.png" alt="">
          </span>
          <span class="languages__item__label">En</span>
        </a>
      </li>
      <li class="languages__item">
        <a href="#">
          <span class="languages__item__flag flag">
            <img src="./assets/images/flags/de.png" alt="">
          </span>
          <span class="languages__item__label">De</span>
        </a>
      </li>
      <li class="languages__item">
        <a href="#">
          <span class="languages__item__flag flag">
            <img src="./assets/images/flags/fr.png" alt="">
          </span>
          <span class="languages__item__label">Fr</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown pull-left">
    <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false">Account</a>
    <ul class="dropdown-menu animated fadeIn" role="menu">
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <a href="#">Wishlist</a>
      </li>
      <li>
        <a href="#">Compare</a>
      </li>
      <li>
        <a href="#">Checkout</a>
      </li>
    </ul>
  </div>
</div>
