<ul class="options-swatch options-swatch--color">
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
    <li><a href="#"><span class="swatch-label"><img src="./assets/images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
  </ul>