<div class="back-to-top">
  <a href="#top" class="btn btn--round btn--round--lg">
    <span class="icon-arrow-up"></span>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
      <!--  Logo  -->
      <a class="logo logo--footer" href="index.html">
        <img src="./assets/images/logo-transparent.png" alt="" /> </a>
      <!-- End Logo -->
      <p>This is one of the best, most attractive and smartest templates on the market.
        <strong>
          <em>- Adam Smith</em>
        </strong>
      </p>
    </div>
    <div class="col-sm-3 col-md-2 mobile-collapse">
      <h5 class="title text-uppercase mobile-collapse__title">Information </h5>
      <div class="v-links-list mobile-collapse__content">
        <ul>
          <li>
            <a href="about.html">About Us</a>
          </li>
          <li>
            <a href="contact.html">Shipping & Returns</a>
          </li>
          <li>
            <a href="about.html">Privacy Notice</a>
          </li>
          <li>
            <a href="about.html">Conditions of Use</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 mobile-collapse">
      <h5 class="title text-uppercase mobile-collapse__title">Service</h5>
      <div class="v-links-list mobile-collapse__content">
        <ul>
          <li>
            <a href="contact.html">Online support</a>
          </li>
          <li>
            <a href="faq.html">Help & FAQs</a>
          </li>
          <li>
            <a href="contact.html">Call Center</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 mobile-collapse">
      <h5 class="title text-uppercase mobile-collapse__title">My account</h5>
      <div class="v-links-list mobile-collapse__content">
        <ul>
          <li>
            <a href="account.html">My Account</a>
          </li>
          <li>
            <a href="account-order.html">Order history</a>
          </li>
          <li>
            <a href="account-address.html">My Addresses</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 mobile-collapse mobile-collapse--last">
      <h5 class="title text-uppercase mobile-collapse__title">Company Info</h5>
      <div class="v-links-list mobile-collapse__content">
        <ul>
          <li class="icon icon-home">7563 St. Vincent Place, Glasgow</li>
          <li class="icon icon-telephone">321321321, 321321321</li>
          <li class="icon icon-mail">
            <a href="mailto:info@mydomain.com">info@mydomain.com</a>
          </li>
          <li class="icon icon-skype">
            <a href="#">shop.test</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
