<div class="container">
  <div class="pull-left">
    <div class="social-links social-links--colorize">
      <ul>
        <li class="social-links__item">
          <a class="icon icon-facebook" href="#"></a>
        </li>
        <li class="social-links__item">
          <a class="icon icon-twitter" href="#"></a>
        </li>
        <li class="social-links__item">
          <a class="icon icon-google" href="#"></a>
        </li>
        <li class="social-links__item">
          <a class="icon icon-pinterest" href="#"></a>
        </li>
        <li class="social-links__item">
          <a class="icon icon-mail" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pull-right">
    <div class="user-links">
      <ul>
        <li class="user-links__item">
          <a href="/sign">Sign In</a>
        </li>
        <li class="user-links__item">
          <a href="/createaccount">Register</a>
        </li>
        <li class="user-links__item user-links__item--separate">
          <a href="#" class="color-twitter">TWITTER</a> /
          <a href="#" class="color-facebook">FACEBOOK</a> LOGIN</li>
      </ul>
    </div>
  </div>
</div>
