<div class="product-preview">
  <div class="product-preview__image">
    <app-product-image></app-product-image>
    <!-- <app-count-down></app-count-down> -->
  </div>
  <!-- <app-out-stock></app-out-stock> -->
  <app-new></app-new>
  <app-sale></app-sale>

  <div class="product-preview__info text-center">
    <div class="product-preview__info__btns">
      <app-icon-add-tocart></app-icon-add-tocart>
      <app-icon-quickview></app-icon-quickview>
    </div>
    <div class="product-preview__info__title">
      <h2>
        <a href="#">Fast Seconds Knit White</a>
      </h2>
    </div>
    <app-product-rating></app-product-rating>
    <app-color-options></app-color-options>
    <app-price></app-price>
    <app-preview-info></app-preview-info>
    <app-add-item></app-add-item>
  </div>
</div>